body {
    margin: 0;
    font-family: 'Palanquin Dark', sans-serif;
}
* {
    box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: #0085a1;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: -8vh;
}
nav>a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin: 2vw 3vw 0 0;
}
header>h1 {
    margin: auto;
}
header>h1>a {
    margin-top: -5vh;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    width: 30rem;
    animation: type 4s steps(60, end);
		margin:auto;
}